main{
    background-color: #bd8600;
    width: 100%;
}
#welcome-section{
    height: 300px;
    background-color: #bd8600;
    width: 100%;
    text-align: center;
  }
  p{
    font-size: 18px;
  }
  #welcome-section h1{
     padding-top: 110px;
  }
  h2{
    text-align: center;
  }
  .container {
    margin: 30px auto;
      font-size: 40px;
      width: 80%;
   
     display: grid;
      /* Only change code below this line */
  grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    
      /* Only change code above this line */
    }
  img{
    height:76%;
    width: 95%;
      }
  #projects{
     height: auto; 
  }
  .project-tile{
    text-align: center;
    }
  .project-tile h3{
    font-size: 26px;
    background-color: #646970;
  }
  h3, #contact{
    text-align: center;
    padding: 2px 2px;
  }
  a{
    text-decoration: none;
    color: black;
    font-size: 26px;
  }
  
  nav{
    position: fixed;
    top: 6px;
    background-color: #996800;
    padding: 1em 3em 1em 45.5em;
   
    height: 20px;
    
    }
  #nav-bar {
     text-align: justify;
    font-size: 26px;
       
  }
  #contact{
    height: 400px;
    background-color: rgb(165, 83, 182);
}
#contact h2{
    padding: 50px 30px 20px 30px;
}
#profile-link{
    font-size: 20px;
}
  @media (max-width: 600px){
      nav{
        padding: 1em 3em 1em 10em;
      }
    #nav-bar {
      font-size: 16px;

       }
  
  .container {
    margin: 10px auto;
      font-size: 20px;
      width: 90%;
   height: auto;
      grid-gap: 12px;
    
       }
      #projects h3, a{
           font-size: 15px;
        font-weight: bold
       }
       .project-tile{
      padding-top: 18px;
      }
      #projects h3{
          padding-bottom: 6px;
      }
  }